body {
    font-size: 13px;
    font-family: Calibri;
}

p.head {
    text-align: center;
    font-size: 15px;
}

.products td {
    border-color: black;
}

p.abz {
    padding: 0;
    margin: 0;
}

.abz_mp {
    text-align: center;
    padding: 0;
    margin: 0px 0 -3px 0;
}

.span_podp {
    text-align: center;
    display: inline-block;
}

p.pechatka {
    text-align: center;
    clear: both;
    padding: 0;
    margin: 0;
}

p.center {
    text-align: center;
}

.right {
    float: right;
    text-align: right;
    padding: 0;
    margin: 0;
}

.left_f {
    text-align: left;
    padding: 0;
    margin: 0 0 -16px 0;
}

.clear {
    clear: both;
}

p {
    margin: 0;
    padding: 0;
}

dl.variation {
    display: inline;
    font-size: 12px;
    font-style: italic;
    padding: 0;
}

dl.variation dt,
dl.variation dd {
    display: inline;
}

dl.variation dd {
    margin-left: 7px;
    padding-left: 0;
}

dl.variation dd:last-child:after {
    content: "";
}

dl.variation dd:after {
    content: ", ";
}

dl.variation dt {
    padding: 0 0 0 10px;
}

p#printPreview {
    padding: 18px;
    text-align: center;
}

#printPreview a {
    color: #106E99;
    text-decoration: none;
}

table p {
    margin: 0;
    padding: 0 0 5px;
}

div table td {
    border-style: solid;
    border-width: 1px 1px 0 0;
    padding: 0 5px 0;
    text-align: center;
}

div table {
    border-style: solid;
    border-width: 0 0 1px 1px;
}

table td {
    max-width: 191mm;
}